:root {
    --clear: #f2f7fa;
    --blue: #0a3871;
} /* ECF5F8 */

* {
    font-family: "Poppins", sans-serif;
}


body {
    background-color: var(--clear);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 5px 5%;
    border-bottom: 1px solid rgba(10, 56, 113, 0.2);
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 55px;
    width: auto;
}

.switch {
    background-color: #d3e3e5;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-right: 3%;
}

.switch::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: var(--clear);
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.5 ease all;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
}

/* .active {
    background-color: var(--blue);
}

.active::after {
    right: 0;
    left: unset;
} */

span {
    height: 25px;
    width: 25px;
    line-height: 25px;
    display: block;
    background: none;
    color: white;
    padding: 2px;
}

span img {
    height: 16px;
    width: auto;
}

fieldset {
    display: inline-block;
    border: none;
}

select {
    border: none;
    outline: none;
    padding: 10px 0;
    cursor: pointer;
}

select option {
    font-weight: 300;
    font-size: 14px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    margin-top: 80px;
    font-weight: 200;
    height: 85vh;
}

.input-area {
    width: 65%;
    height: 100%;
    padding: 2em 0 0 1.5em;
    position: relative;
}

#input-text {
    height: 80%;
    outline: none;
}

#input-text:focus {
    box-shadow: inset 0px 0px 6px 0px rgba(10,56,113,0.5);
    transition: box-shadow 2s ease;
}

#input-text::placeholder {
    font-size: 20px;
}

.input-area__info p {
    display: inline-block;
    position: relative;
    bottom: 2.6px;
    right: 1.5px;
}

.input-area__info img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
}

.buttons {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 3%;
    right: 0;
    left: 0;
    width: 80%;
    margin: auto;
    padding: 0 80px;
}

.buttons__button {
    padding: 10px 60px;
    border: none;
    border-radius: 20px;
    background-color: var(--blue);
    color: var(--clear);
    font-weight: 200;
    cursor: pointer;
}

.buttons__button--transparent {
    background-color: var(--clear);
    color: var(--blue);
    border: 1px solid var(--blue);
    font-weight: 300;
}

.output-area {
    width: 35%;
    min-width: 200px;
}

#output-text {
    height: 100%;
    outline: none;
}

.text-area {
    border: none;
    resize: none;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 56px -14px rgba(0,0,0,0.15);
    padding: 30px;
}

footer {
    text-align: center;
    margin-top: auto;
    font-size: 80%;
    width: 100%;
    font-weight: 300;
}

footer img {
    width: 25px;
    height: 25px;
    margin: 0 0.2em;
    filter: opacity(0.7);
}

@media (max-width: 500px) {
    .input-area {
        width: auto;
    }
}